Loop concepts

In [2]:
for i in "Apple":
    print(i)

A
p
p
l
e

In [4]:
for number in range(23):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [14]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [32]:
for i in range(1,11):
    print(f'2 X {i} =', i*2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [44]:
n = int(input("Enter the number"))
m = int(input("Enter the number"))
for i in range(n+1,m):
    print(i)

Enter the number 10
Enter the number 20

11
12
13
14
15
16
17
18
19

In [54]:
a = int(input())
b = int(input())
for i in range(a,b):
    if(i%2==0):
        print(i)

 10
 20

10
12
14
16
18

In [84]:
a = int(input())
b = int(input())
count = 0
for i in range(a,b):
    if(i%2==1):
        count = count+1
print(count)

 1
 10

5

In [92]:
a = int(input("Enter the number here:"))
b = int(input("Enter the number here:"))
even_count = 0
odd_count = 0
for i in range(a,b):
    if(i%2==0):
        even_count=even_count+1
    elif(i%2==1):
        odd_count=odd_count+1
print(f'Count of even numbers:{even_count}, Count of odd numbers:{odd_count}')

Enter the number here: 1
Enter the number here: 11

Count of even numbers:5, Count of odd numbers:5

In [90]:
a = int(input())
b = int(input())
for i in range(a,b):
    print(i)

 1
 10

1
2
3
4
5
6
7
8
9

In [100]:
a = int(input())
b = int(input())
three_divisible = 0
five_divisible = 0
for i in range(a,b):
    if(i%3==0):
        three_divisible=three_divisible+1
    if(i%5==0):
        five_divisible=five_divisible+1
print(three_divisible)
print(five_divisible)

 1
 100

33
19

In [106]:
a = int(input())
b = int(input())
divisible = 0
for i in range(a,b):
    if(i%3==0 and i%5==0):
        divisible=divisible+1
print(divisible)

 1
 101

6

In [118]:
a = int(input())
b = int(input())
sum = 0
for i in range(a,b):
    sum+=i
print(sum)

 1
 6

15

In [122]:
a = int(input())
b = int(input())
sum=0
count=0
for i in range(a,b):
    sum=sum+i
    count+=1
    average=sum/count
print(sum)
print(average)

 1
 6

15
3.0

In [132]:
a=[]
a.append("1000      ")

In [134]:
print(a)

['1000      ']

In [160]:
a = []
print("Enter the number below:")
for i in range(10):
    b = int(input())
    print(f'Enter {str(i+1)} Number:')
    a.append(b)
    print(b)

Enter the number below:

 1

Enter 1 Number:
1

 2

Enter 2 Number:
2

 3

Enter 3 Number:
3

 4

Enter 4 Number:
4

 5

Enter 5 Number:
5

 6

Enter 6 Number:
6

 7

Enter 7 Number:
7

 8

Enter 8 Number:
8

 9

Enter 9 Number:
9

 10

Enter 10 Number:
10

In [180]:
a = []
print("Enter the number below:")
for i in range(10):
    number=int(input(f'Enter {str(i+1)} Number:'))

Enter the number below:

Enter 1 Number: 1
Enter 2 Number: 4
Enter 3 Number: 345
Enter 4 Number: 65
Enter 5 Number: 8765
Enter 6 Number: 3456
Enter 7 Number: 65
Enter 8 Number: 7654
Enter 9 Number: 345
Enter 10 Number: 0

In [220]:
a = []
sum = 0
count = 0
print("Enter the number below:")
for i in range(10):
    num=int(input(f'Enter {str(i+1)} Number:'))
    a.append(num)
    sum=sum+i
    count+=1
    average = sum/count
print("Total Sum", sum)
print("Total Average", average)

Enter the number below:

Enter 1 Number: 1
Enter 2 Number: 2
Enter 3 Number: 3
Enter 4 Number: 4
Enter 5 Number: 5
Enter 6 Number: 6
Enter 7 Number: 7
Enter 8 Number: 8
Enter 9 Number: 9
Enter 10 Number: 10

Total Sum 45
Total Average 4.5

In [226]:
a = int(input())
b = int(input())
sum = 0
count = 0
print("Enter the number below:")
for i in range(a,b):
    num=int(input(f'Enter {str(i)} Number:'))
    sum=sum+i
    count+=1
    average = sum/count
print("Total Sum", sum)
print("Total Average", average)

 1
 11

Enter the number below:

Enter 1 Number: 1
Enter 2 Number: 2
Enter 3 Number: 3
Enter 4 Number: 4
Enter 5 Number: 5
Enter 6 Number: 6
Enter 7 Number: 7
Enter 8 Number: 8
Enter 9 Number: 9
Enter 10 Number: 10

Total Sum 55
Total Average 5.5

In [254]:
a =[]
sum=0
count = 0
print("Enter the number below:")
for i in range(10):
    num=int(input(f'Enter {str(i+1)} Number:'))
    a.append(num)
    
for i in a:
    sum=sum+i
    count=count+1
    average=sum/count
print("Total Sum Value", sum)
print("Total Average Value", average)

Enter the number below:

Enter 1 Number: 1
Enter 2 Number: 2
Enter 3 Number: 3
Enter 4 Number: 4
Enter 5 Number: 5
Enter 6 Number: 6
Enter 7 Number: 7
Enter 8 Number: 8
Enter 9 Number: 9
Enter 10 Number: 10

Total Sum Value 55
Total Average Value 5.5

In [302]:
a=[]
print("Enter the numbers:")
for i in range(5):
    num=int(input(f'Cube of {i+1} is:'))
    a.append(num)
    print(num*num*num)

Enter the numbers:

Cube of 1 is: 1

1

Cube of 2 is: 2

8

Cube of 3 is: 3

27

Cube of 4 is: 4

64

Cube of 5 is: 4

64

In [262]:
a = int(input("Enter the number:"))
for i in range(a):
    print(i+1)

Enter the number: 7

1
2
3
4
5
6
7

Nested loops concepts

In [316]:
for i in range(1,6):
    print("Week:",i)
    for j in range(1,7):
        print("Days:", j)

Week: 1
Days: 1
Days: 2
Days: 3
Days: 4
Days: 5
Days: 6
Week: 2
Days: 1
Days: 2
Days: 3
Days: 4
Days: 5
Days: 6
Week: 3
Days: 1
Days: 2
Days: 3
Days: 4
Days: 5
Days: 6
Week: 4
Days: 1
Days: 2
Days: 3
Days: 4
Days: 5
Days: 6
Week: 5
Days: 1
Days: 2
Days: 3
Days: 4
Days: 5
Days: 6

In [361]:
a=[]
for i in range(1,6):
    a.append(i)
    print(a)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [369]:
for i in range(1,6):
    print()
    for j in range(1,i+1):
        print(j, end=" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5