In [1]:
print('Hello World!')

Hello World!

In [2]:
a=10
b=45
c=a+b
print(c)
print(f'A is {a} and B is {45} If C=A+B then the total value of C: {c}')

55
A is 10 and B is 45 If C=A+B then the total value of C: 55

In [3]:
name=input('Enter your Name:')
age=int(input('Enter your age:'))
print(f'My Name is {name} and my age is {age}')

My Name is Sabarish and my age is 24

In [9]:
a=int(input('Enter A:'))
b=int(input('Enter B:'))
c=int(input('Enter C:'))

mul=a*b*c
add=a+b+c

d=round((mul/add),2)
print(mul)
print(add)
print(d)

8
6
1.33

In [37]:
name=input("Enter your Name:")
marks=int(input("Enter your Marks:"))
department=input("Enter your Department")

CGPA=marks/10
print('My Name is', name)
print(f'My CGPA is {CGPA}/10')
print('My department is', department)

Enter your Name:Sabarish
Enter your Marks:98
Enter your DepartmentEEE
My Name is Sabarish
My CGPA is 9.8/10
My department is EEE

In [11]:
meghna=input('Enter alive/dead')
if meghna=='dead':
    print("Surya weds Priya")
else:
    print("Surya weds Meghna")

Surya weds Meghna

In [2]:
meghna=input('Enter alive/dead')
if meghna=='dead':
    print("Surya weds Priya")
else:
    print("Surya weds Meghna")

Enter alive/deadalive
Surya weds Priya

In [4]:
mark=int(input("Enter your mark:"))
if mark<=34:
    print("Fail")
else:
    print("Pass")

Enter your mark:56
Pass

In [6]:
income=int(input("Enter your income:"))
if income>=7000:
    print("You are not eligible for scholarship")
else:
    print("You are eligible for scholarship")

Enter your income:2333456
You are not eligible for scholarship

In [17]:
a=int(input("Enter the number:"))
if a%3==0 and a%5==0:
    print("It is divisible by 3 and 5")
else:
    print("It is not divisible by 3 and 5")

Enter the number:30
It is divisible by 3 and 5

In [15]:
a=2//2
print(a)

1

In [18]:
a=int(input("Enter a number:"))
if a%2==0:
    print("It is even")
else:
    print("It is odd")

Enter a number:44
It is even

In [19]:
a=int(input("Enter a number:"))
if a%2==0:
    print("It is even")
else:
    print("It is odd")

Enter a number:55
It is odd

In [33]:
score=int(input("Enter your mark:"))
if score<35:
    print("Poor Student")
elif score>=35 and score<=70:
    print("Average Student")
elif score>70 and score<=90:
    print("Good Student")
elif score>90 and score<=100:
    print("Excellent Student")
else:
    print("Invalid Score")

Enter your mark:6753
Invalid Score

In [54]:
a=int(input("Enter A value:"))
b=int(input("Enter B Value:"))
function=(input("What need to be performed?"))
if function=="Add" or function=="add":
    print(a+b)
elif function=="Sub" or function=="sub":
    print(a-b)
elif function=="Mul" or function=="mul":
    print(a*b)
elif function=="Div" or function=="div":
    print(a/b)
else:
    print("Invalid function")

Enter A value:4
Enter B Value:6
What need to be performed?add
10

In [45]:
score=int(input("Enter your score:"))
if score>=70:
    name=input("Enter your name:")
    department=input("Enter your department:")
    location=input("Enter your location:")
    print("You are eligible")
else:
    print("You are not eligible")

Enter your score:3
You are not eligible

In [94]:
salary=int(input("Enter your salary:"))
age=int(input('Enter your age:'))

if salary>=20000 or age<=25:
    loan_amount=int(input("Enter your loan amount:"))
    if loan_amount<=50000:
        print("You are eligible for loan")
    else:
        print("Maximum loan amount is 50000")
else:
    print("You are not eligible for loan")

Enter your salary:1
Enter your age:1
Enter your loan amount:1
You are eligible for loan

In [96]:
maths=int(input("Enter maths mark:"))
english=int(input("Enter english mark:"))
chemistry=int(input("Enter chemistry mark:"))
social=int(input("Enter social mark:"))
physics=int(input("Enter physics mark:"))

average=(maths+english+chemistry+social+physics)/5
print(average)

if average>35:
    print("You are good to go")
else:
    print("Additional class is required")

Enter maths mark:99
Enter english mark:99
Enter chemistry mark:99
Enter social mark:99
Enter physics mark:99
99.0
You are good to go